.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: var(--bg-regular);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    transition: 1s;

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    .title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: var(--fz-h1);
    }

}