.wrapper {
    width: 1200px;
    height: 610px;
    border-radius: 6px;
    opacity: 0;
    transition: 1s;
    overflow: scroll;
    touch-action: auto !important;
    pointer-events: all !important;

    &.show {
        opacity: 1;
    }

    &::-webkit-scrollbar {
        display: none;
    }

}