.wrapper {
    width: 828px;
    height: 430px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition: 1s;

    &.show {
        opacity: 1;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

}